/**
 * MessyCMS  https://github.com/rekcuFniarB/messycms#readme
 * License:  MIT
 */

.media-embed,
.media-embed-wrapper {
    display: inline-block;
    width: 480px;
    max-width: 100%;
    box-sizing: border-box;
}
.media-embed {
    padding: 5px;
    /* aspect ratio */
    padding-bottom: 56.25%;
}
.media-embed[href*="soundcloud.com"],
.media-embed[data-href*="soundcloud.com"] {
    padding-bottom: 15%;
}
.media-embed[data-embed-frame-src*="/size=large/tracklist=false/artwork=small/"] {
    padding-bottom: 5px;
    height: 120px;
}
.media-embed[data-embed-frame-src*="/EmbeddedPlayer/track="][data-embed-frame-src*="/size=small/"] {
    padding-bottom: 5px;
    height: 42px;
}
.messy-modal .media-embed {
    width: 780px;
}
.media-embed iframe {
    width: 100%;
    height: 100%;
}
.embed-play-icon {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 70px solid white;
}
.media-embed:hover .embed-play-icon {
    border-left: 70px solid #c0c0c0;
}

.player-container {
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 100%;
}
.player-container:not(.active) {
    display: none;
}
.player-control {
    display: flex;
}
.player-control .player-progressbar {
    flex: auto;
}
.player-control .player-progressbar .player-progressbar-current {
    width: 0;
    height: 100%;
    background-color: #e9e9ed;
    pointer-events: none;
}
.player-control button i {
    pointer-events: none;
}

.messy-playlist,
.playlist {
    list-style-type: none;
}
.messy-playlist li:before,
.playlist li:before {
    content: '\f487';
    font-family: "Ionicons";
    margin-right: 0.2em;
}
.messy-playlist li.active:before
.playlist li.active:before {
    content: '\f488';
}
