    {% include node %} {# renders node by calling node.render() #}
    
    {% if request.GET.metadata %}
        <script class="section-metadata" type="text/html" data-path="{{ node.get_absolute_url }}">
            <div data-field="title">{{ node.title }}</div>
            <div data-field="slug">{{ node.slug }}</div>
            <div data-field="short">{{ node.short }}</div>
            <div data-field="menu_title">{{ node.menu_title }}</div>
        </script>
    {% endif %}
    
    {% for section in node.conf %}
        {% if section.type == 'inclusion_point' and node.context.include %}
            {# recurse #}
            {% include "messycms/_node.html" with node=node.context.include %}
        {% else %}
            {% include section %}
        {% endif %}
    {% endfor %}
