{% extends "base.html" %}

{% block head %}
    {{ block.super }}
    {% if node.conf.templateBlockHtmlHead %}
        {% include node.conf.templateBlockHtmlHead %}
    {% endif %}
{% endblock head %}

{% block title %}{{ block.super }}{% if node.context.include %}{{ node.context.include.title }}{% else %}{{ node.title }}{% endif %}{% endblock title %}

{% block h1 %}{{ block.super }}{% if node.context.include %}{{ node.context.include.title }}{% else %}{{ node.title }}{% endif %}{% endblock h1 %}


{% block body %}
    {% include "messycms/_node.html" with node=node %}
{% endblock body %}
